body{
margin:0;
font-family:Segoe UI,Arial;
background:#0b0d12;
color:white;
}

.header{
background:#12151c;
border-bottom:2px solid #e30613;
}

.header-container{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;

border-top:2px solid #e30613;   /* NUEVA línea roja arriba */
border-bottom:2px solid #e30613; /* línea roja abajo */

}

.logo-area{
display:flex;
align-items:center;
gap:15px;
}

.logo-area img{
height:55px;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:600;
}

nav a:hover{
color:#e30613;
}

.highlight{
color:#e30613;
}

.main{
padding:30px;
}

.news-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.card{
background:#12151c;
padding:20px;
border:1px solid #222;
cursor:pointer;
transition:0.2s;
}

.card:hover{
border:1px solid #e30613;
}

.button{
display:inline-block;
background:#e30613;
color:white;
padding:10px 20px;
text-decoration:none;
margin-top:10px;
}

.elections-banner{
margin-top:40px;
padding:25px;
background:#12151c;
border-left:5px solid #e30613;
}

footer{
background:#12151c;
padding:20px;
text-align:center;
color:#aaa;
margin-top:40px;
}

.featured-container{

position:relative;
height:400px;
background-size:cover;
background-position:center;
display:flex;
align-items:end;

}

.featured-overlay{

background:linear-gradient(transparent, black);
padding:20px;
width:100%;

}

.featured-overlay h2{

margin:0;

}

.election-counter{

background:#e30613;
padding:15px;
text-align:center;

}

#countdown{

font-size:24px;
font-weight:bold;

}

nav{

margin-top:8px;

}
